@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
/* CSS BODY */
body {
  margin: auto;
}

/* CSS HEADER */
header {
  background: #2d9c65;
  text-align: center;
  padding: 5px;
  border-bottom: 2px solid #9fcc6b;
}
header h1 {
  font-size: 2.5em;
  font-family: "Montserrat", cursive;
  color: #faca47;
  letter-spacing: -4px;
}

/* CSS MENU */
.container_menu {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 100px auto;
  background-color: #fff9ea;
  box-shadow: 0 0 13px #d3d3d3;
}
.container_menu h1 {
  font-family: "Croissant One", cursive;
  font-size: 2.7em;
  text-align: center;
  background: linear-gradient(to right, #d77600, #4725a0);
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
  margin: 80px 0;
}
.container_menu > :nth-child(2) {
  display: flex;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #d77600;
}
.container_menu > :nth-child(2) div {
  width: 30%;
  height: 50px;
  margin: auto 20px;
  background-color: #d77600;
}
.container_menu > :nth-child(2) .border_left {
  clip-path: polygon(82% 43%, 100% 50%, 82% 57%, 0% 50%);
  padding-right: 25px;
}
.container_menu > :nth-child(2) .border_right {
  clip-path: polygon(18% 43%, 100% 50%, 18% 57%, 0% 50%);
  padding-left: 25px;
}
.container_menu > :nth-child(2) h3 {
  width: auto;
  text-align: center;
  font-size: 1.3em;
}
.container_menu > :nth-child(3) {
  font-family: "Playfair Display", serif;
  color: #d77600;
  margin: 35px 0 90px 0;
  padding: 20px 0;
}
.container_menu > :nth-child(3) li {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 0 90px;
}
.container_menu > :nth-child(3) span {
  font-weight: bold;
}
.container_menu > :nth-child(4) {
  display: flex;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #9C27B0;
}
.container_menu > :nth-child(4) div {
  width: 30%;
  height: 50px;
  margin: auto 20px;
  background: #9C27B0;
}
.container_menu > :nth-child(4) .border_left {
  clip-path: polygon(82% 43%, 100% 50%, 82% 57%, 0% 50%);
  padding-right: 25px;
}
.container_menu > :nth-child(4) .border_right {
  clip-path: polygon(18% 43%, 100% 50%, 18% 57%, 0% 50%);
  padding-left: 25px;
}
.container_menu > :nth-child(4) h3 {
  width: auto;
  text-align: center;
  font-size: 1.3em;
}
.container_menu > :nth-child(5) {
  font-family: "Playfair Display", serif;
  color: #9C27B0;
  margin: 35px 0 90px 0;
  padding: 20px 0;
}
.container_menu > :nth-child(5) li {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 0 90px;
}
.container_menu > :nth-child(5) span {
  font-weight: bold;
}
.container_menu > :nth-child(6) {
  display: flex;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #4725a0;
}
.container_menu > :nth-child(6) div {
  width: 30%;
  height: 50px;
  margin: auto 20px;
  background: #4725a0;
}
.container_menu > :nth-child(6) .border_left {
  clip-path: polygon(82% 43%, 100% 50%, 82% 57%, 0% 50%);
  padding-right: 25px;
}
.container_menu > :nth-child(6) .border_right {
  clip-path: polygon(18% 43%, 100% 50%, 18% 57%, 0% 50%);
  padding-left: 25px;
}
.container_menu > :nth-child(6) h3 {
  width: auto;
  text-align: center;
  font-size: 1.3em;
}
.container_menu > :nth-child(7) {
  font-family: "Playfair Display", serif;
  color: #4725a0;
  margin: 35px 0 90px 0;
  padding: 20px 0;
}
.container_menu > :nth-child(7) li {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 0 90px;
}
.container_menu > :nth-child(7) span {
  font-weight: bold;
}

/* CSS FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  background: #2d9c65;
  font-family: "Montserrat", cursive;
  padding: 20px;
  border-top: 1px solid #94eb31;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}
footer a {
  color: #fbd115;
  font-size: 1.5em;
  text-decoration: none;
}
footer a:hover {
  animation: wiggles 200ms ease-out infinite;
}

@keyframes wiggles {
  25% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
}

/*# sourceMappingURL=menu_2.css.map */
