@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
/* CSS BODY */
body {
  margin: auto;
}

/* CSS HEADER */
header {
  background: #2d9c65;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #9FCC6B;
}
header h1 {
  font-size: 2.8em;
  font-family: "Montserrat", cursive;
  color: #faca47;
  letter-spacing: -4px;
}

/* CSS MENU */
.container_menu {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 100px auto;
  background: #eef0f2;
  box-shadow: 0 0 13px #d3d3d3;
}
.container_menu h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3.5em;
  text-align: center;
  background: linear-gradient(to right, #1A237E, #03A9F4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin: 80px 0;
}
.container_menu > :nth-child(2) {
  display: flex;
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 1.5em;
}
.container_menu > :nth-child(2) div {
  width: 28%;
  height: 3px;
  margin: auto 35px;
  padding-left: 25px;
  border-bottom: 4px solid #1A237E;
}
.container_menu > :nth-child(2) .border_left {
  border-radius: 0% 10%/0% 100%;
}
.container_menu > :nth-child(2) .border_right {
  border-radius: 10% 0%/100% 0%;
}
.container_menu > :nth-child(2) h3 {
  width: 35%;
  text-align: center;
  font-weight: normal;
}
.container_menu > :nth-child(3) {
  font-family: "Caveat", cursive;
  font-weight: normal;
  margin: 35px 0 90px 0;
  padding: 20px;
}
.container_menu > :nth-child(3) li {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  margin-bottom: 10px;
  padding: 0 90px;
}
.container_menu > :nth-child(3) span {
  font-weight: bold;
}
.container_menu > :nth-child(4) {
  display: flex;
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 1.5em;
}
.container_menu > :nth-child(4) div {
  width: 28%;
  height: 3px;
  margin: auto 35px;
  padding-left: 25px;
  border-bottom: 4px solid #1976D2;
}
.container_menu > :nth-child(4) .border_left {
  border-radius: 0% 10%/0% 100%;
}
.container_menu > :nth-child(4) .border_right {
  border-radius: 10% 0%/100% 0%;
}
.container_menu > :nth-child(4) h3 {
  width: 35%;
  text-align: center;
  font-weight: normal;
}
.container_menu > :nth-child(5) {
  font-family: "Caveat", cursive;
  font-weight: normal;
  margin: 35px 0 90px 0;
  padding: 20px;
}
.container_menu > :nth-child(5) li {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  margin-bottom: 10px;
  padding: 0 90px;
}
.container_menu > :nth-child(5) span {
  font-weight: bold;
}
.container_menu > :nth-child(6) {
  display: flex;
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 1.5em;
}
.container_menu > :nth-child(6) div {
  width: 28%;
  height: 3px;
  margin: auto 35px;
  padding-left: 25px;
  border-bottom: 4px solid #03A9F4;
}
.container_menu > :nth-child(6) .border_left {
  border-radius: 0% 10%/0% 100%;
}
.container_menu > :nth-child(6) .border_right {
  border-radius: 10% 0%/100% 0%;
}
.container_menu > :nth-child(6) h3 {
  width: 35%;
  text-align: center;
  font-weight: normal;
}
.container_menu > :nth-child(7) {
  font-family: "Caveat", cursive;
  font-weight: normal;
  margin: 35px 0 90px 0;
  padding: 20px;
}
.container_menu > :nth-child(7) li {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  margin-bottom: 10px;
  padding: 0 90px;
}
.container_menu > :nth-child(7) span {
  font-weight: bold;
}

/* CSS FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  background: #2d9c65;
  font-family: "Montserrat", cursive;
  padding: 20px;
  border-top: 2px solid #9FCC6B;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}
footer a {
  color: #faca47;
  font-size: 1.5em;
  text-decoration: none;
}

/*# sourceMappingURL=menu_3.css.map */
