        /* CSS BASE */
body {
    width: 100%;
}

header {
    width: auto;
}

footer {
    width: auto;
    a {
        font-size: 0.9em;
    }
}


        /* RESPONSIVE INDEX */
.container {
    flex-direction: column;
    width: auto;
    article {
        width: 85%;
    }

    div{
        width: 85%;
        h2 {
            font-size: 1em;
            margin-left: 25px;
        }
    }
}

        /* RESPONSIVE - MENU */
.container_menu {
    flex-direction: column;
    width: auto;
    margin: 20px 20px 100px 20px;
    .title_big {
        .fa-music {
            font-size: 45px;
        }
        h1 {
            font-size: 2.7em;
        }
    }
    .border {
        font-size: 1.5em;
    }
    .title_small {
        width: auto;
        font-size: 1.2em;
    }
}

ul {
    li {
        text-align: left;
        span {
            margin-left: 10px;
        }
    }
}

        /* RESPONSIVE LEGALES NOTICES */
.container {
    h2 {
        font-size: 2.5em;
    }
}

.container_legales_notices {
    margin: 20px;
    h3 {
        margin-left: initial;
        text-align: center;
    }
}