        /* CSS BASE */
body {
    width: 100%;
}

header {
    width: auto;
    h2 {
      font-size: 1.5em;  
    }
    
}

footer {
    width: auto;
    a {
        font-size: 0.9em;
    }
}


        /* RESPONSIVE INDEX */
.container {
    flex-direction: column;
    width: auto;
    article {
        width: 75%;
    }

    div{
        width: 75%;
        h2 {
            font-size: 1em;
            margin-left: 5px;
        }
    }
}

        /* RESPONSIVE - LA NOTE ENCHANTÉE */
.menu {
    flex-direction: column;
    width: auto;
    > :first-child {
        .fa-music {
            font-size: 45px;
        }
        h1 {
            font-size: 2.7em;
        }
    }
    .border {
        font-size: 1.5em;
    }
    > :last-child {
        font-size: 1.5em;
    }
}

ul {
    li {
        font-size: 1.3em;
        text-align: left;
    }
}
