body {
    width: 100%;
}

header {
    width: auto;
    h2 {
      font-size: 1.5em;  
    }
    
}

.container {
    flex-direction: column;
    width: auto;
    article {
        width: auto;
    }

    div{
        width: 180px;
        h2 {
            font-size: 1em;
        }
    }
}

footer {
    width: auto;
    a {
        font-size: 0.9em;
    }
}