        /* REPONSIVE BODY - HEADER - FOOTER */
body {
    width: auto;
    margin: 0 auto;
}

header {
    width: auto;
    h1 {
        font-size: 4em;
    }
}

        /* RESPONSIVE MENU */
ul {
    li {
        margin-bottom: 10px;
    }
}