//* Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"); // Header & footer
@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap"); // La note enchantée
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap"); // Menu 1
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap"); // Le chic à la française
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap"); // Menu 2
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap"); // Le délice des papilles
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap"); // Menu 3 & 4
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap"); // La palette du goût

//* Variables
$background-color: #3d8d75ea;
$color-txt: #ffd001ec;
$first-bcg: #af5068;
$first-txt: #440f0f;
$second-bcg: #fbcdf5;
$third-bcg: #d3d5ee;
$fourth-bcg: #ffffff;


        /* CSS HEADER */
header {
  background: $background-color;
  font-family: "Montserrat", cursive;
  font-size: 1.8em;
  color: $color-txt;
  text-align: center;
  padding: 20px;
}

        /* CSS CONTAINER - ARTICLES - DIV */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 50px 300px;
  padding: 20px 30px 0 30px;
  border: 3px solid black;

  article {
    width: 40%;
    border: 1px solid red;
    padding: 200px 20px;
    margin-bottom: 50px;
    text-align: center;
  }

  div {
    display: flex;
    align-items: center;
    background: $background-color;
    font-family: "Montserrat", cursive;
    color: $color-txt;
    border-radius: 6px;
    padding: 15px;
    
  }
}

.container {
  & > :nth-child(1) {
    background: $first-bcg;
    h2 {
      font-family: "Sriracha", cursive;
      color: $first-txt;
    }
    h3 {
      font-family: "Devonshire", cursive;
      color: $first-txt;
    }
  }
}

        /* CSS FOOTER */
footer {
  display: flex;
  justify-content: space-between;
    background: $background-color;
  font-family: "Montserrat", cursive;
  padding: 20px;
  a {
      color: #fbd115;
      font-size: 1.5em;
  }
}


