//* Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"); // Header & footer
@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap"); // La note enchantée
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap"); // Menu 1
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap"); // Le chic à la française
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap"); // Menu 2
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap"); // Le délice des papilles
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap"); // Menu 3 & 4
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap"); // La palette du goût

//* Variables
$background-color: #3d8d75ea;
$color-txt: #ffd001ec;
$first-bcg: #fddcda; 
$first-txt: #3e2723;
$second-bcg: #fff9ea; 
$third-bcg: #eef0f2;  
$fourth-bcg: #ffffff;

        /* CSS BODY */
body {
  margin: auto;
}    
      
        /* CSS HEADER */
header {
  background: $background-color;
  font-family: "Montserrat", cursive;
  font-size: 1.9em;
  color: $color-txt;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #94eb31;
}

        /* CSS CONTAINER - ARTICLES - DIV */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 650px;
  margin: 50px auto;
  padding: 25px;
  border: 3px solid black;

  article {
    width: 250px;
    height: 160px;
    box-shadow: 0 0 13px lightgrey;
    border: 1px solid red;
    padding: 200px 20px;
    margin-bottom: 50px;
    text-align: center;
    a {
      text-decoration: none;
    }
  }

  div {
    display: flex;
    align-items: baseline;
    width: 250px;
    background: $background-color;
    font-family: "Montserrat", cursive;
    color: $color-txt;
    border-radius: 6px;
    padding: 15px;
    .fa-circle {
      font-size: xx-small;
      margin: 0 6px;
    }
    
  }
}

.container {                  //* background first menu
  & > :nth-child(1) {
    background: $first-bcg;
    h2 {                      //* font of "menu"
      font-family: "Sriracha", cursive;
      font-size: 2em;
      font-weight: normal;
      color: $first-txt;
      margin: 15px;
    }
    h3 {                      //* font of "La note enchantée"
      font-family: "Devonshire", cursive;
      font-size: 1.9em;
      font-weight: normal;
      color: $first-txt;
      margin: 5px;
    }
    .fa-music {
      font-size: 2.5em;
    }
  }
}

.container {                  //* background second menu
  & > :nth-child(2) {
    background: $second-bcg;
    h2 {                      //* font of "menu"
      font-family: "Playfair Display", cursive;
      font-size: 2em;
      color: #d77600;
    }
    h3 {                      //* font of "Le chic à la française"
      font-family: "Croissant One", cursive;
      background: linear-gradient(to right, #d77600, #4527A0);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}

.container {                  //* background third menu
  & > :nth-child(3) {
    background: $third-bcg;
    h2 {                      //* font of "menu"
      font-family: "Caveat", cursive;
      font-size: 2.5em;
      color: #03A9F4;
    }
    h3 {                      //* font of "Le délice des papilles"
      font-family: "Dancing Script", cursive;
      font-size: 1.5em;
      background: linear-gradient(to right, #1A237E, #03A9F4);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}

.container {                  //* background fourth menu
  & > :nth-child(4) {   
    background: $fourth-bcg;
    h2 {                      //* font of "menu"
      font-family: "Caveat", cursive;
      font-size: 2.5em;
      color: #388E3C;
    }
    h3 {                      //* font of "La palette du goût"
      font-family: "Kaushan Script", cursive;
      font-size: 1.5em;
      background: linear-gradient(to right, #388E3C, #b4ff5f);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}

        /* CSS FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  background: $background-color;
  font-family: "Montserrat", cursive;
  padding: 20px;
  border-top: 1px solid #94eb31;
  a {
      color: #fbd115;
      font-size: 1.5em;
      text-decoration: none;
  }
}


