        /* CSS BODY - HEADER - FOOTER */
body {
    width: 100%;
}

header {
    width: auto;
}

        /* CSS INDEX */
.container {
    width: auto;
    article {
        padding: 200px 0;
    }
    > :nth-child(1) {
        margin-right: 5px;
    }
    > :nth-child(3) {
        margin-right: 5px;
    }
    div {
        h2 {
            font-size: 1.4em;
            margin-left: 8px;
        }
    }
}

        /* CSS MENU */
.container_menu {
    width: auto;
    margin: 65px;
}

ul{
    li{
        span {
            margin-left: 20px;
        }
    }
}

        /* CSS LEGALES NOTICES */
.container_legales_notices {
    width: 650px;
    margin: 0 auto;
}