//* Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"); // Header & footer
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap"); // Le délice des papilles
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap'); // Menu 3 & 4

//* Variables
$background-color: #2d9c65;
$border-bcg : #9FCC6B;
$color-txt: #faca47;
$third-bcg: #eef0f2;  
$first-bdr : #1A237E;
$second-bdr: #1976D2;
$third-bdr:  #03A9F4;

        /* CSS BODY */
body {
    margin: auto;
}

        /* CSS HEADER */
header {
    background: $background-color;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid $border-bcg;
    h1 {
        font-size: 2.8em;
        font-family: "Montserrat", cursive;
        color: $color-txt;
        letter-spacing: -4px;
    }
}

        /* CSS FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    background: $background-color;
    font-family: "Montserrat", cursive;
    padding: 20px;
    border-top: 2px solid $border-bcg;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    a {
        color: $color-txt;
        font-size: 1.5em;
        text-decoration: none;
    }
}