//* Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"); // Header & footer
@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap"); // La note enchantée
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap"); // Menu 3 & 4

//* Variables
$background-color: #2d9c65;
$color-txt: #faca47;
$first-bcg: #fddcda; 
$first-txt: #3e2723;

        /* CSS BODY */
body {
    margin: auto;
}

        /* CSS HEADER */
header {
  background: $background-color;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #9fcc6b;
  h1 {
    font-size: 2.8em;
    font-family: "Montserrat", cursive;
    color: $color-txt;
    letter-spacing: -4px;
  }
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: $first-bcg;
    > :nth-child(1) {
        border: 1px solid black;
        align-self: center;
        text-align: center;
        .fa-music {
            font-size: 80px;
            margin-top: 45px;
        }
        h1 {
            font-family: 'Devonshire', cursive;
            font-size: 4em;
            color: $first-txt;
        }
    }
    .border {
        border: 1px dashed black;
        align-self: center;
        text-align: center;
        font-family: 'Caveat', cursive;
        font-size: 2em;
        color: $first-txt;
    }
    > :last-child {
        border: 1px double black;
        display: flex;
        align-self: center;
        font-family: 'Devonshire', cursive;
        font-size: 2em;
        color: $first-txt;
        .fa-music {
            font-size: 20px;
        }     
    }
}
            
ul {
    font-family: 'Caveat', cursive;
    color: $first-txt;
    padding: 20px 0;
    li {
        display: flex;
        justify-content: space-between;
        font-size: 2.1em;
        padding: 0 90px;
    }
}

        /* CSS FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  background: $background-color;
  font-family: "Montserrat", cursive;
  padding: 20px;
  border-top: 1px solid #94eb31;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  a {
      color: #fbd115;
      font-size: 1.5em;
      text-decoration: none;
  }
}
