//* Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"); // Header & footer
@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap"); // La note enchantée
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap'); // Menu 3 & 4

//* Variables
$background-color: #2d9c65;
$border-bcg: #9fcc6b;
$color-txt: #faca47;
$first-bcg: #fddcda; 
$first-txt: #3e2723;

//* Mixins
@mixin underline {
    &::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        margin-top: 2px;
        transition: width 400ms ease-in-out;
    }
    &:hover::after {
        width: 100%;
    }
}

        /* CSS BODY */
body {
    margin: auto;
}

        /* CSS HEADER */
header {
  background: $background-color;
  text-align: center;
  padding: 5px;
  border-bottom: 2px solid $border-bcg;
  a {
    text-decoration: none;
    h1 {
      font-size: 2.8em;
      font-family: "Montserrat", cursive;
      color: $color-txt;
      letter-spacing: -4px;
    }
  }
}

.container_menu {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 100px auto;
    background-color: $first-bcg;
    box-shadow: 0 0 13px #d3d3d3;
    .title_big {
        text-align: center;
        .fa-music {
            font-size: 80px;
            margin-top: 45px;
            color: #bd0716;
        }
        h1 {
            font-family: 'Devonshire', cursive;
            font-size: 4em;
            color: $first-txt;
        }
    }
    .border {
        display: flex;
        text-align: center;
        font-family: 'Caveat', cursive;
        font-weight: bold;
        font-size: 1.5em;
        color: $first-txt;
        div {
            width: 30%;
            height: 3px;
            margin: auto 35px;
            padding-left: 25px;
            background-color: $first-txt;
        }
        h3 {
            width: 200px;
            text-align: center;
            font-size: 1.3em;
            @include underline;
            &::after {
                background-color: $first-txt;
            }
        }
    }
    .title_small {
        display: flex;
        width: 360px;
        align-self: center;
        font-family: 'Devonshire', cursive;
        font-size: 2em;
        color: $first-txt;
        margin-bottom: 100px;
        .fa-music {
            font-size: 60px;
            margin: 0 8px;
            align-self: center;
            color: #BD0716;
        }     
    }
}
            
ul {
    font-family: 'Caveat', cursive;
    color: $first-txt;
    margin: 35px 0 90px 0;
    padding: 20px 0;
    li {
        display: flex;
        justify-content: space-between;
        font-size: 1.5em;
        margin-bottom: 10px;
        padding: 0 90px;
    }
    span {
        font-weight: bold;
    }
}

        /* CSS FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  background: $background-color;
  font-family: "Montserrat", cursive;
  padding: 20px;
  border-top: 2px solid $border-bcg;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  a {
      color: $color-txt;
      font-size: 1.5em;
      text-decoration: none;
      &:hover {
          animation: wiggles 200ms ease-out infinite;
      }
  }
}

@keyframes wiggles {
    25% {
        transform: translateX(4px);
    }
    75% {
        transform: translateX(-4px);
    }
}