//* Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"); // Header & footer
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap"); // Le chic à la française
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

//* Variables
$background-color: #2d9c65;
$color-txt: #faca47;
$first-bcg: #fddcda; 
$first-txt: #3e2723;
$second-bcg: #fff9ea; 
$third-bcg: #eef0f2;  
$fourth-bcg: #ffffff;


        /* CSS BODY */
body {
    margin: auto;
}

        /* CSS HEADER */
header {
  background: $background-color;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #9fcc6b;
  h1 {
    font-size: 2.5em;
    font-family: "Montserrat", cursive;
    color: $color-txt;
    letter-spacing: -4px;
  }
}

        /* CSS MENU */
.menu {
    display: flex;
    flex-direction: column;
    background-color: $second-bcg;
    h1 {
        font-family: 'Croissant One', cursive;
        font-size: 2.7em;
        text-align: center;
        background: linear-gradient(to right, #d77600, #4725a0);
        background-clip: content-box;
        -webkit-background-clip: text;
        color: transparent;
        margin: 80px 0;
    }
    > :nth-child(2) {           //* border
        border: 1px dashed black;
        display: flex;
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 1.5em;
        color: #d77600;
        div {
            width: 28%;
            height: 3px;
            margin: auto 35px;
            padding-left: 25px;
            background-color: #d77600;
        }
        h3 {
            width: 25%;
            text-align: center;
        }
    }
    > :nth-child(3) {           //* ul
        font-family: 'Playfair Display', serif;
        color: #d77600;
        margin: 35px 0 90px 0;
        padding: 20px 0;
        li {
            display: flex;
            justify-content: space-between;
            font-size: 1.5em;
            margin-bottom: 10px;
            padding: 0 90px;
        }
        span {
            font-weight: bold;
        }
    }
    > :nth-child(4) {           //* border
        border: 1px solid black;
        display: flex;
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 1.5em;
        color: #9C27B0;
        div {
            width: 28%;
            height: 3px;
            margin: auto 35px;
            padding-left: 25px;
            background: #9C27B0;
        }
        h3 {
            width: 25%;
            text-align: center;
        }
    }
    > :nth-child(5) {           //* ul
        font-family: 'Playfair Display', serif;
        color: #9C27B0;
        margin: 35px 0 90px 0;
        padding: 20px 0;
        li {
            display: flex;
            justify-content: space-between;
            font-size: 1.5em;
            margin-bottom: 10px;
            padding: 0 90px;
        }
        span {
            font-weight: bold;
        }

    }
    > :nth-child(6) {           //* border
        border: 1px solid black;
        display: flex;
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 1.5em;
        color: #4725a0;
        div {
            width: 28%;
            height: 3px;
            margin: auto 35px;
            padding-left: 25px;
            background: #4725a0;
        }
        h3 {
            width: 25%;
            text-align: center;
        }
    }
    > :nth-child(7) {           //* ul
        font-family: 'Playfair Display', serif;
        color: #4725a0;
        margin: 35px 0 90px 0;
        padding: 20px 0;
        li {
            display: flex;
            justify-content: space-between;
            font-size: 1.5em;
            margin-bottom: 10px;
            padding: 0 90px;
        }
        span {
            font-weight: bold;
        }

    }
}

        /* CSS FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  background: $background-color;
  font-family: "Montserrat", cursive;
  padding: 20px;
  border-top: 1px solid #94eb31;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  a {
      color: #fbd115;
      font-size: 1.5em;
      text-decoration: none;
     }
}