//* Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"); // Header & footer
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap"); // La palette du goût
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap'); // Menu 3 & 4

//* Variables
$background-color: #2d9c65;
$color-txt: #faca47;
$fourth-bcg: #ffffff;
$first-gradient: #388E3C;
$second-gradient: #B4ff5f;

