//* Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"); // Header & footer
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap"); // Le délice des papilles
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap'); // Menu 3 & 4

//* Variables
$background-color: #2d9c65;
$border-bcg : #9FCC6B;
$color-txt: #faca47;
$third-bcg: #eef0f2;  
$first-bdr : #1A237E;
$second-bdr: #1976D2;
$third-bdr:  #03A9F4;

        /* CSS BODY */
body {
    margin: auto;
}

        /* CSS HEADER */
header {
    background: $background-color;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid $border-bcg;
    h1 {
        font-size: 2.8em;
        font-family: "Montserrat", cursive;
        color: $color-txt;
        letter-spacing: -4px;
    }
}

        /* CSS MENU */
.container_menu {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 100px auto;
    background: $third-bcg;
    box-shadow: 0 0 13px #d3d3d3;
    h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 3.5em;
        text-align: center;
        background: linear-gradient(to right, $first-bdr, $third-bdr);
        background-clip: content-box;
        -webkit-background-clip: text;
        color: transparent;
        margin: 80px 0;
    }
    > :nth-child(2) {           //* css .border
        display: flex;
        text-align: center;
        font-family: 'Caveat', cursive;
        font-size: 1.5em;
        div {
            width: 28%;
            height: 3px;
            margin: auto 35px;
            padding-left: 25px;
            border-bottom: 4px solid $first-bdr;
        }
        .border_left {
            border-radius: 0% 10% / 0% 100%;
        }
        .border_right {
            border-radius: 10% 0% / 100% 0%;
        }
        h3 {
            width: 35%;
            text-align: center;
            font-weight: normal;
        }
    }
    > :nth-child(3) {               //* css ul
        font-family: 'Caveat', cursive;
        font-weight: normal;
        margin: 35px 0 90px 0;
        padding: 20px;
        li {
            display: flex;
            justify-content: space-between;
            font-size: 1.5em;
            margin-bottom: 10px;
            padding: 0 90px;
        }
        span {
            font-weight: bold;
        }
    }
    > :nth-child(4) {           //* css .border
        display: flex;
        text-align: center;
        font-family: 'Caveat', cursive;
        font-size: 1.5em;
        div {
            width: 28%;
            height: 3px;
            margin: auto 35px;
            padding-left: 25px;
            border-bottom: 4px solid $second-bdr;
        }
        .border_left {
            border-radius: 0% 10% / 0% 100%;
        }
        .border_right {
            border-radius: 10% 0% / 100% 0%;
        }

        h3 {
            width: 35%;
            text-align: center;
            font-weight: normal;
        }
    }
    > :nth-child(5) {               //* css ul
        font-family: 'Caveat', cursive;
        font-weight: normal;
        margin: 35px 0 90px 0;
        padding: 20px;
        li {
            display: flex;
            justify-content: space-between;
            font-size: 1.5em;
            margin-bottom: 10px;
            padding: 0 90px;
        }
        span {
            font-weight: bold;
        }
    }
    > :nth-child(6) {           //* css .border
        display: flex;
        text-align: center;
        font-family: 'Caveat', cursive;
        font-size: 1.5em;
        div {
            width: 28%;
            height: 3px;
            margin: auto 35px;
            padding-left: 25px;
            border-bottom: 4px solid $third-bdr;
        }
        .border_left {
            border-radius: 0% 10% / 0% 100%;
        }
        .border_right {
            border-radius: 10% 0% / 100% 0%;
        }

        h3 {
            width: 35%;
            text-align: center;
            font-weight: normal;
        }
        
    }

    > :nth-child(7) {               //* css ul
        font-family: 'Caveat', cursive;
        font-weight: normal;
        margin: 35px 0 90px 0;
        padding: 20px;
        li {
            display: flex;
            justify-content: space-between;
            font-size: 1.5em;
            margin-bottom: 10px;
            padding: 0 90px;
        }
        span {
            font-weight: bold;
        }
    }


}

        /* CSS FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    background: $background-color;
    font-family: "Montserrat", cursive;
    padding: 20px;
    border-top: 2px solid $border-bcg;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    a {
        color: $color-txt;
        font-size: 1.5em;
        text-decoration: none;
    }
}