//* Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"); // Header & footer
@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap"); // La note enchantée
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap"); // Menu 3 & 4

//* Variables
$background-color: #2d9c65;
$color-txt: #faca47;
$first-bcg: #fddcda; 
$first-txt: #3e2723;

        /* CSS BODY */
body {
    margin: auto;
}

        /* CSS HEADER */
header {
  background: $background-color;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #9fcc6b;
  h1 {
    font-size: 2.8em;
    font-family: "Montserrat", cursive;
    color: $color-txt;
    letter-spacing: -4px;
  }
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: $first-bcg;
    > :nth-child(1) {
        border: 1px solid black;
        align-self: center;
        text-align: center;
        .fa-music {
            font-size: 80px;
            margin-top: 45px;
        }
        h1 {
            font-family: 'Devonshire', cursive;
            font-size: 4em;
        }
    }
    .border {
        border: 1px dashed black;
        align-self: center;
        text-align: center;
        font-family: 'Caveat', cursive;
        font-size: 2em;
    }
}
            
