body {
    width: auto;
}

header {
    width: auto;
    h1 {
        font-size: 3.5em;
    }
}

.container {
    width: 80%;
    div {
        width: 45%;
        h2 {
            margin-left: 15px;
        }
    }
}

footer {
    width: auto;
}