        /* CSS BODY - HEADER - FOOTER */
body {
    width: auto;
}

header {
    width: auto;
}

footer {
    width: auto;
    a {
        font-size: 1.2em;
    }
}

        /* CSS INDEX */
.container {
    width: 80%;
    div{
        width: auto;
        h2{
            font-size: 1.3em;
        }
    }
}

        /* CSS MENUS */

.container_menu{
    width: auto;
    margin: 65px;
    h1 {
        font-size: 2.5em;
    }
    > :nth-child(3) {
        li {
            padding: 0 20px;
        }
    }
    > :nth-child(5) {
        li {
            padding: 0 20px;
        }
    }
    > :nth-child(7) {
        li {
            padding: 0 20px;
        }
    }   
}
