        /* CSS BODY - HEADER - FOOTER */
body {
    width: auto;
}

header {
    width: auto;
    h1 {
        font-size: 3.5em;
    }
}

footer {
    width: auto;
}

        /* CSS INDEX */
.container {
    width: 80%;
    div {
        width: 45%;
        h2 {
            margin-left: 15px;
        }
    }
}

        /* CSS MENUS */
ul {
    li{
        padding: 0 45px;
        span {
            margin-left: 10px;
        }
    }
}

